body {
     background-image: url("background.jpeg");
img {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}


body{
        background-color: #616A6B;
        }
        h1{
        font-family: commanders;
        background-color: yellow;
        }
        h2{
        font-family: algerian; 
        background-color: cyan;
        }